@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

html{

    font-size: 24px;
    scroll-behavior: smooth;
}

body{
    /* background-color: darkgray; */
}

header{

    width: 100%;
    height: 80px;
    background-color: #363636;
    top: 0;
    position: sticky;
    padding-left: 10px; 
    font-size: 1rem;
}

.img-header{
    width: 150px;
}

.nav-link {
    color: white !important;
}


.parallax {
    background-image: url("pexels-pixabay-220326.jpg");

    min-height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.parallax p {
    
    left: 20%;
    top: 60%;
    font-size: 16px;
    padding: 16px;
    position: absolute;
    color: gold;

}

.parallax-button{

    width: 150px;
    height: 71px;
    left: 20%;
    top: 80%;
    background: rgba(51, 187, 105, 0.05);
    border: none;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #00c2cb;
    padding: 10px;
    position: absolute;
}

main {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

main h1{

    left: 20%;
    top: 50%;
    color: white;
    font-size: 3rem;
    position: absolute;

}

/* article{

    width: 50%;
    height: 50%;
    background-color: crimson;
    
} */

section {
    height: 100vh;
    background-color: violet;
    display: flex;
    padding: 24px;
}

.teste{
    background-color: yellow;
}

h2{
    font-size: 1rem;
    padding: 6px;
}

ul li{

    font-size: .7rem;

} 
@media (max-width: 768px) {
    html{
        font-size: 16px;
    }
}